{% extends 'profilebase.html' %}
{% load static %}
{% block dashboard %}
<style>
    .change_pwd {
        position: relative;
        
        height: fit-content;
        border-radius: 20px;
        padding: 40px;
        box-sizing: border-box;
        background: #ecf0f3;
        box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
      }
      
      .pwd-logo img{
        height: 200px;
        width: 200px;
        
        margin: auto;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
      }
      
      .pwd-title {
        margin-top: 10px;
        font-weight: 900;
        font-size: 1.8rem;
        color: #1DA1F2;
        letter-spacing: 1px;
      }
      
      .pwd-inputs {
        text-align: left;
        margin-top: 30px;
      }
      
      .pwd-inputs label, input, button {
        display: block;
        width: 100%;
        padding: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
      }
      
      .pwd-inputs label {
        margin-bottom: 4px;
        font-size:15px;
      }
      
      .pwd-inputs label:nth-of-type(2) {
        margin-top: 12px;
      }
      
      .pwd-inputs input::placeholder {
        color: gray;
      }
      
      .pwd-inputs input {
        background: #ecf0f3;
        padding: 10px;
        padding-left: 20px;
        height: 50px;
        font-size: 14px;
        border-radius: 50px;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
      }
      
      .pwd-inputs button {
        color: white;
        margin-top: 20px;
        background: #1DA1F2;
        height: 70px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 900;
        box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
        transition: 0.5s;
      }
      
      .pwd-inputs button:hover {
        box-shadow: none;
      }
      
      .pwd-inputs a {
        position: absolute;
        font-size: 8px;
        bottom: 4px;
        right: 4px;
        text-decoration: none;
        color: black;
        background: yellow;
        border-radius: 10px;
        padding: 2px;
      }
      
      .pwd-inputs h1 {
        position: absolute;
        top: 0;
        left: 0;
      }
      #change_btn{
        font-size:20px;
      }
      .success{
        background:#90EE90;
        
      }
</style>
<div class="change_pwd">
    <div class="pwd-logo"><img src="{% static 'images/changepwd.png' %}" alt=""></div>
    <div class="pwd-title">CHANGE YOUR PASSWORD</div>
    {% if msg %}
    <div class="success">
      {{msg}} ✔️
    </div>
    {% endif %}
    <div class="pwd-inputs">
      <form action="" method="post">
        {% csrf_token %}
        <label>REGISTERED EMAIL</label>
        <input type="email" name="email" placeholder="example@test.com" required>
        <label>NEW PASSWORD</label>
        <input type="password" name="npwd" placeholder="Min 6 charaters long" id="pas" required>
        <label>CONFIRM PASSWORD</label>
        <input type="password" name="ncpwd" placeholder="Min 6 charaters long" id="cpas" onkeyup="check_pass()" required>
        <button type="submit" id="change_btn">SUBMIT</button>
      </form>
    </div>
  </div>

  <script>
    function check_pass(){
      let pass=$("#pas").val();
      let cpass=$("#cpas").val();
      if(pass==cpass)
      {
        $("#pas").css("border","10px solid green");
        $("#cpas").css("border","10px solid green");
        $("#change_btn").removeAttr("disabled").css("background", "green");
      }
      else
      {
        $("#pas").css("border","10px solid red");
        $("#cpas").css("border","10px solid red");
        $("#change_btn").attr("disabled","disabled").css("background", "gray");
      }
    }
  </script>
{% endblock dashboard %}