{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUERRY FROM {{title}}</title>
</head>
<body>
    <!-- Complete Email template -->

<body style="background-color:grey">
	<table align="center" border="0" cellpadding="0" cellspacing="0"
		width="550" bgcolor="white" style="border:2px solid black">
		<tbody>
			<tr>
				<td align="center">
					<table align="center" border="0" cellpadding="0"
						cellspacing="0" class="col-550" width="550">
						<tbody>
							<tr>
								<td align="center" style="background-color: #4cb96b;
										height: 50px;">

									<img src="https://i.ibb.co/CQ9gPrx/portal.png" alt="">
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr style="height: 300px;">
				<td align="center" style="border: none;
						border-bottom: 2px solid #4cb96b;
                        background:rgb(64, 254, 6);
						padding-right: 20px;padding-left:20px">

					<p style="background:dodgerblue; font-weight: bolder;font-size: 52px;
							letter-spacing: 0.025em;
							color:rgb(255, 254, 254);">
						
                            {{msg}}
					</p>
                    <p style="background:rgb(230, 255, 3); font-weight: bolder;font-size: 52px;
							letter-spacing: 0.025em;
							color:rgb(11, 10, 10);">
						
                            THANKU FOR JOINING US!!
					</p>
				</td>
			</tr>

			<tr style="display: inline-block;">
				<td style="height: 150px;
						padding: 20px;
						border: none;
						border-bottom: 2px solid #361B0E;
						background-color: white;">
					
					<h2 style="background:rgb(81, 255, 0);text-align: left;
							align-items: center;font-size:30px;">
						NOTE : A health checkup is a must for all your family members so why not give it a try
				</h2>
					<p class="data"
					style="text-align: justify-all;
							align-items: center;
							font-size: 25px;
							padding-bottom: 12px;">
						Here you can check whether you have any chanced of heart disease or not
					</p>
					
						
				</td>
			</tr>
			<tr style="border: none;
			background-color: #4cb96b;
			height: 40px;
			color:white;
			padding-bottom: 20px;
			text-align: center;">
				
<td height="40px" align="center">
	<p style="color:white;
	line-height: 1.5em;">
	Heart Disease Prediction Portal
	</p>
	<a href="#"
	style="border:none;
		text-decoration: none;
		padding: 5px;">
			
	<img height="30"
	src=
"https://extraaedgeresources.blob.core.windows.net/demo/salesdemo/EmailAttachments/icon-twitter_20190610074030.png"
	width="30" />
	</a>
	
	<a href="#"
	style="border:none;
	text-decoration: none;
	padding: 5px;">
	
	<img height="30"
	src=
"https://extraaedgeresources.blob.core.windows.net/demo/salesdemo/EmailAttachments/icon-linkedin_20190610074015.png"
width="30" />
	</a>
	
	<a href="#"
	style="border:none;
	text-decoration: none;
	padding: 5px;">
	
	<img height="20"
	src=
"https://extraaedgeresources.blob.core.windows.net/demo/salesdemo/EmailAttachments/facebook-letter-logo_20190610100050.png"
		width="24"
		style="position: relative;
			padding-bottom: 5px;" />
	</a>
</td>
</tr>
<tr>
<td style="font-family:'Open Sans', Arial, sans-serif;
		font-size:11px; line-height:18px;
		color:#999999;"
	valign="top"
	align="center">
<a href="#"
target="_blank"
style="color:#999999;
		text-decoration:underline;">PRIVACY STATEMENT</a>
		| <a href="#" target="_blank"
		style="color:#999999; text-decoration:underline;">TERMS OF SERVICE</a>
		| <a href="#"
		target="_blank"
		style="color:#999999; text-decoration:underline;">RETURNS</a><br>
				© 2022 HeartDiseasePredictionPortal. All Rights Reserved.<br>
				If you recieved this email by mistake then please delete this immediately as this is a system generated mail
				
				target="_blank"
				
			</td>
			</tr>
			</tbody></table></td>
		</tr>
		<tr>
		<td class="em_hide"
		style="line-height:1px;
				min-width:700px;
				background-color:#ffffff;">
			<img alt=""
			src="images/spacer.gif"
			style="max-height:1px;
			min-height:1px;
			display:block;
			width:700px;
			min-width:700px;"
			width="700"
			border="0"
			height="1">
			</td>
		</tr>
		</tbody>
	</table>
</body>

</body>
</html>