{% extends 'profilebase.html' %}
{% load static %}
{% block dashboard %}
<style>
    .form-fields{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .form-wrap{
        width:100%;
        height:90%;
    }
    .form-group{
        border-radius: 0%;
    }
    .pwd-logo img{
        height: 150px;
        width: 200px;
        
        margin: auto;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
      }
      .form-fields textarea {
        height: 20px;
        resize: none;
    }
    .form-wrap h2{
        
        color:blue;
    }
    .submit-button{
        width: 200px;
    }
    select{
        border: none;
        outline:none;
    }
    #option{
        height: fit-content;
    }
    .alert{
        background: chartreuse;
    }
</style>
<div class="form-wrap">
    <h2 class="social-icons"><u>EDIT YOUR PROFILE</u></h2>
    
    <div class="pwd-logo"><img src="{% static 'images/editprofile.png' %}" alt=""></div>
    {% if status %}
        <div class="alert alert-primary">{{status}} ✔️</div>
    {% endif %}
    <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="media/{{data.img}}" alt="">
        <div class="form-fields">
            <div class="form-group">
                <input type="text" name="fname" placeholder="First Name" value="{{user.first_name}}">
            </div>
            <div class="form-group">
                <input type="text" name="lname" placeholder="Last Name" value="{{user.last_name}}">
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Mail" value="{{user.email}}">
            </div>
            <div class="form-group">
                <input type="number" name="phone" pattern="[0-9]{10}" placeholder="Phone" title="Number must be 10 digits" value="{{data.phone}}">
            </div>
            <div class="form-group">
                <input type="text" name="uname" placeholder="user name" value="{{data.username}}">
            </div>
            <div class="form-group">
                <input type="number" name="age" placeholder="age"  value="{{data.age}}">
            </div>
            
            <select name="gender" class="form-group" >
                <option value="Male">Male</option>
    
                {% if data.gender == "Female" %}
                <option value="Female" selected>Female</option>
                {% else %}
                <option value="Female">Female</option>
                {% endif %}
                {% if data.gender == "others" %}
                <option value="others" selected>others</option>
                {% else %}
                <option value="others">others</option>
                {% endif %}
            </select>
           
            <div class="form-group">
                <input type="text" name="city" placeholder="enter your city" value="{{data.city}}">
            </div>
            <div class="form-group" id="occupation">
                <input type="text" name="occupation" placeholder="enter your occcupation" value="{{data.occupation}}">
            </div> 
            <div class="form-group">
                <input type="file" name="image" placeholder="upload image" accept="image/*" value="{{data.img}}">
            </div> 

        </div>
        <input type="submit" name="changeprofile" value="SAVE CHANGES" class="submit-button">
    </form>

</div>
{% endblock dashboard %}