<!-- footer  -->
{% load static %}
<footer id = "footer" class = "footer text-center">
    <div class = "container">
         <h1 color="white">DESIGNED  BY  SANDIP  KUMAR  ROY</h1>
    </div>
</footer>
<!-- end of footer  -->


<!-- custom js -->

<script>
    const navbarShowBtn = document.querySelector('.navbar-show-btn');
const navbarCollapseDiv = document.querySelector('.navbar-collapse');
const navbarHideBtn = document.querySelector('.navbar-hide-btn');

if(navbarShowBtn){
navbarShowBtn.addEventListener('click', function(){
navbarCollapseDiv.classList.add('navbar-show');
});
}
navbarHideBtn.addEventListener('click', function(){
navbarCollapseDiv.classList.remove('navbar-show');
});

let resizeTimer;
window.addEventListener('resize', () =>{
    document.body.classList.add('resize-animation-stopper');
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(() => {
        document.body.classList.remove('resize-animation-stopper');
    }, 400);
});
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>