{% extends 'profilebase.html' %}
{% block dashboard %}
<h2 >IDENTITY</h2>
        <div class="cards">
            <div class="card-body">
                <table>
                    <tbody>
                        <tr>
                            <td> USER ID</td>
                            <td>🔀 </td>
                            <td>{{user.id}}</td>
                        </tr>
                        <tr>
                            <td> FIRST NAME</td>
                            <td>🔀 </td>
                            <td>{{user.first_name}}</td>
                        </tr>
                        <tr>
                            <td> LAST NAME</td>
                            <td>🔀 </td>
                            <td>{{user.last_name}}</td>
                        </tr>
                        
                        <tr>
                            <td>USER NAME</td>
                            <td>🔀 </td>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <td>EMAIL</td>
                            <td>🔀 </td>
                            <td>{{user.email}}</td>
                        </tr>
                        
                        <tr>
                            <td>GENDER</td>
                            <td>🔀 </td>
                            <td>{{data.gender}}</td>
                        </tr>
                        <tr>
                            <td>PHONE</td>
                            <td>🔀 </td>
                            <td>{{data.phone}}</td>
                        </tr>  
                        <tr>
                            <td>CITY</td>
                            <td>🔀 </td>
                            <td>{{data.city}}</td>
                        </tr>  
                        <tr>
                            <td>AGE</td>
                            <td>🔀 </td>
                            <td>{{data.age}}</td>
                        </tr>  
                        <tr>
                            <td>OCCUPATION</td>
                            <td>🔀 </td>
                            <td>{{data.occupation}}</td>
                        </tr>      
                    </tbody>
                </table>
            </div>
        </div>

        <h2>EXTRA DETAILS</h2>
        <div class="cards">
            <div class="card-body">
                    <table>
                        <tbody>
                            <tr>
                                <td>DATE JOINED</td>
                                <td>🔀 </td>
                                <td>{{user.date_joined}}</td>
                            </tr>
                            <tr>
                                <td>LAST LOGIN</td>
                                <td>🔀 </td>
                                <td>{{user.last_login}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
{% endblock dashboard %}