{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.eror{
  background: rgb(250, 161, 161);
  font-size: 20px;
  color: white;
  width: max-content;
}
.gender{
  color:white;
  font-weight:bold;
}
#submitbtn{
  font-size:30px;
  font-weight:bold;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
</style>

<section id = "banner-2" class = "banner-2 text-center">
  {% if warn %}
    <div class="eror">{{warn}}</div>
  {% endif %}
    <div class="reg-container">
        <div class="reg-title">REGISTRATION</div>
        <div class="regcontent">
          <div class="text text-danger" >
            <strong id="result"></strong>
          </div>
          <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="reguser-details">
              <div class="reginput-box">
                <span class="details">First Name</span>
                <input type="text" name="fname" placeholder="your first+mid name" >
              </div>
              <div class="reginput-box">
                <span class="details">Last Name</span>
                <input type="text" name="lname" placeholder="your last name" >
              </div>
              
              <div class="reginput-box">
                
                <span class="details">Username</span>
                
                <input type="text" id="username" onkeyup="checkuser()" name="uname" placeholder="Enter your username" required>
            
              </div>
              {% if uname %}
              <h4 class="errormesage">{{uname}}</h4>
              {% endif %}
              <div class="reginput-box">
                <span class="details">Email</span>
                <input type="text" id="mail" name="email" placeholder="Enter your email" required>
              </div>
              {% if email %}
              <h4 class="errormesage">{{email}}</h4>
              {% endif %}
              <div class="reginput-box">
                <span class="details">Phone Number</span>
                <input type="text" id="ph" name="phone" placeholder="Enter your number" required>
              </div>
              <div class="reginput-box">
                <span class="details">Password</span>
                <input type="password" name="pwd" placeholder="Enter your password" id="pas" required>
              </div>
          
              <div class="reginput-box">
                <span class="details">Confirm Password</span>
                <input type="password" name="cpwd" placeholder="Confirm your password" id="cpas" onkeyup="check_pass()" required>
              </div>
              {% if pw %}
              <h4 class="errormesage">{{pw}}</h4>
              {% endif %}
            </div>
            <div class="regavatar">
              <label>Select your avatar: </label>
              <input class="ava" type="file" name="avatar" accept="image/*" required>
            </div>
            <div class="gender-details">
              <input type="radio" name="gender" id="dot-1" value="male">
              <input type="radio" name="gender" id="dot-2" value="female">
              <input type="radio" name="gender" id="dot-3" value="others">
              <span class="gender-title">Gender</span>
              <div class="regcategory">
                <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Male</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Female</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender">others</span>
                </label>
              </div>
            </div>
            <div class="regbutton">
              <input type="submit"id="submitbtn" value="Register">
            </div>
          </form>
          <h2>already have an account ? <a class="lo" href="login">Login</a> </h2>
        </div>
      </div>
      
      
</section>
<script>
  
    function check_pass(){
      let pass=$("#pas").val();
      let cpass=$("#cpas").val();
      let phone=$("#ph").val();
      if(phone.length!=10)
      {
        $("#submitbtn").attr("disabled","disabled").css("background", "gray");
      }
      else{

      }
      if(pass==cpass)
      {
        $("#pas").css("border","10px solid green");
        $("#cpas").css("border","10px solid green");
        $("#submitbtn").removeAttr("disabled").css("background", "green");
      }
      else
      {
        $("#pas").css("border","10px solid red");
        $("#cpas").css("border","10px solid red");
        $("#submitbtn").attr("disabled","disabled").css("background", "gray");
      }
    }
  
  function checkuser(){
    let un=document.getElementById("username").value;
    let ml=document.getElementById("mail").value;
    $.ajax({
      url:"{% url 'check_user' %}",
      type:"get",
      data:{unm:un},
      success:function(data){
        if(data == "exists")
        {
            $("#result").html("This username already taken").addClass("text-danger");
            $("#username").addClass("alert alert-danger");
            $("#submitbtn").attr("disabled","disabled");
        }
        else
        {
          $("#result").html("");
          $("#username").removeClass("alert alert-danger");
          $("#submitbtn").removeAttr("disabled");
        }
        
        
      }
    })
  }
</script>

{% endblock content %}