{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .content-1 img{
        width: 200px;
        height: 200px;
        border-radius: 80px;
        
        display: initial;
    }
    th{
        background: cornsilk;
    }
    table,
    th,
    td {
      border: 4px solid rgb(238, 241, 255);
      font-weight: 700;
    }
    table td {
      color: rgb(105, 251, 246);
    }
    table th {
      color: rgb(234, 2, 14);
      background: springgreen;
    }
    .sear{
      width: -webkit-fill-available;
      background: blue;
      text-align: center;
      height: 50px;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

    }
    .sear h2{
      font-size: 39px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
</style>
<section id = "searchresult" class = "searchresult py">
<div class="container-1">
  {% if abcd %}
  <div class="sear"><h2>TOTAL RESULT FOUND = {{doctors|length}}</h2></div><br>
  <hr>
    {% for doc in doctors %}
    <div class="card-1">
      <div class="box-1">
        <div class="content-1">
            
          <img src="/media/{{doc.img}}" alt="">
          
          <table style="width: 100%">
            
            <tr>
              <td>NAME</td>
              <td>{{doc.name}}</td>
            </tr>
            <tr>
              <td>CITY</td>
              <td>{{doc.city}}</td>
            </tr>
            <tr>
              <td>STATE</td>
              <td>{{doc.state}}</td>
            </tr>
            <tr>
              <td>PHONE</td>
              <td>{{doc.phone}}</td>
            </tr>
            <tr>
              <td>ADDRESS</td>
              <td>{{doc.address}}</td>
            </tr>
            
           
        </table>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>SORRY {{user.get_full_name}} !! NO RESULTS FOUND</h1>
    {% endif %}
    
</section>
  {% endblock content %}