{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- service one -->
<section id = "banner-one" class = "banner-one text-center">
    <div class="row">
        <h2 class="section-heading">WHY TO CHOOSE US</h2>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
                <img src="{% static 'images/accuracy.png' %}">

            </div>
            <h3>ACCURACY</h3>
            <p>
                The obtained accuracy for the REP Tree, M5P, Linear Regression,
                 and Random Tree is 88.44%, 75.75%, 74.32%, and 99.81%, respectively. 
                 Based on the results, Random Tree has the highest accuracy of 99.81% and
                  is highly recommended for optimal cardiovascular disease prediction.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
                <img src="{% static 'images/medical report.png' %}">
            </div>
            <h3>MEDICAL REPORT</h3>
            <p>
                we provide medical report of the patient predicted results which will
                 be beneficial for their consultation with cardio/heart . 
                 Note- user can get their report by clicking on the 
                 download button after prediction their heart health doctor. The report will be in pdf format
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
                <img src="{% static 'images/remote.png' %}">

            </div>
            <h3>REMOTE HOSPITALS</h3>
            <p>
                Here we use user city which user have entered while registering on our website.
                After prediction of their results if they are NOT safe then for immediate assistance 
                we provide them remote hospitals located in/near their city with the hospitals contact
                 info which would make half of our customers work feasible
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
                <img src="{% static 'images/rate-monitor.png' %}">

            </div>
            <h3>CARDIO MONITORING</h3>
            <p>
              This is a onlline heart disease prediction portal where cardio related to heart disease prediction can be provided
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
                <img src="{% static 'images/emergency.png' %}">

            </div>
            <h3>EMERGENCY HELP</h3>
            <p>
              Here user can search for any heart specialist doctor's contact
               number using our search facility.They will be able to get the nearset possible doctor location with their contact number
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
                <img src="{% static 'images/first.png' %}">

            </div>
            <h3>FIRST AID</h3>
            <p>
                We have provided the heart health care tips which will be beneficial for our heart to perform fully functional and at healthy rate 
            </p>
          </div>
        </div>
      </div>
    
</section>
</header>
{% endblock content %}