{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
   
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #232427;
  }
  
  body .container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    margin: 40px 0;
  }
  
  body .container-2 .card-2 {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
  }
  
  body .container-2 .card-2:nth-child(1) .box-2 .content-2 a {
    background: #2196f3;
  }
  
  body .container-2 .card-2:nth-child(2) .box-2 .content-2 a {
    background: #e91e63;
  }
  
  body .container-2 .card-2:nth-child(3) .box-2 .content-2 a {
    background: #23c186;
  }
  
  body .container-2 .card-2 .box-2 {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  body .container-2 .card-2 .box-2:hover {
    transform: translateY(-50px);
  }
  
  body .container-2 .card-2 .box-2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }
  
  body .container-2 .card-2 .box-2 .content-2 {
    padding: 20px;
    text-align: center;
  }
  
  body .container-2 .card-2 .box-2 .content-2 h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
  }
  
  body .container-2 .card-2 .box-2 .content-2 h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  body .container-2 .card-2 .box-2 .content-2 p {
    font-size: 15px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
  }
  
  body .container-2 .card-2 .box-2 .content-2 a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  body .container-2 .card-2 .box-2 .content-2 a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
  }
  .tm{
    width: 200px;
    height: 200px;
    margin-left: 20px;
  }
 
</style>
<section id = "doc-panel" class = "doc-panel py">
  <div class="row">
    <h2 class="section-heading">MEET MY TEAM</h2>
  </div>
  <div class="container-2">
    <div class="card-2">
      <div class="box-2">
        <div class="content-2">
          <img class="tm" src="{% static 'images/sandipfinal.jpeg' %}" alt="">
          <h3>SANDIP KUMAR ROY</h3>
          <p class="  ">I am a Full stack developer and competitive programmer solved around 600+ data structures problems </p>
          <a href="https://www.linkedin.com/in/sandip-kumar-roy-1359911a7">CONNECT ME</a>
        </div>
      </div>
    </div>
  
    <div class="card-2">
      <div class="box-2">
        <div class="content-2">
          <img class="tm" src="{% static 'images/abhi.jpeg' %}" alt="">
          <h3>ABHINANDAN PATRA</h3>
          <p class="pr">I love to find Bugs and Debug inside the code and has enthusiasm of competitive exams like GATE,GRE etc  </p>
          <a href="{% url 'contact_us' %}">CONNECT ME</a>
        </div>
      </div>
    </div>
  
    <div class="card-2">
      <div class="box-2">
        <div class="content-2">
          <img class="tm" src="{% static 'images/purna.jpeg' %}" alt="">
          <h3>PURNA CHANDRA SAREN</h3>
          <p class="pr">I love to do the research works and creating skeletans of the projects</p>
          <a href="{% url 'contact_us' %}">CONNECT ME</a>
        </div>
      </div>
    </div>
    <div class="card-2">
      <div class="box-2">
        <div class="content-2">
          <img class="tm" src="{% static 'images/neel.png' %}" alt="">
          <h3>NEEL MONDAL</h3>
          <p class="pr">I am fond of creating cool Presentations and documentations of Projects</p>
          <a href="{% url 'contact_us' %}">CONNECT ME</a>
        </div>
      </div>
    </div>
  </div>
  
     
</section>
</header>

{% endblock content %}